body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: #eef0ee; 
    overflow:hidden; 
}

header {
    text-align:left; 
    font-size: 200%;
    padding-left: 50px;
    height: 20%;

}

.header-title {
    font-size: 3em;
    font-weight: 500; 
    color: #4f6050; 
}


.wheel {
    position:absolute;
    width: 95vw; 
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d; 
}

.section {
    position: absolute;
    width: 95vw; 
    height: 84vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
 

#home {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: end;
    text-align: end; 
    height: 100%; 
    background-color: #8ab98c; 
    transform: rotateY(0deg) translateZ(45vw); 
    padding-right: 100px;
    color:#f5f7f5;
    font-weight: 400;
}

#home .heading {
    margin: 10px 0;
    font-size: 500%;
}

#home p {
    margin: 10px; 
    font-size: 250%;
}

#home .disclaimer {
    margin: 200px 0; 
    font-size: 150%;
    font-weight: 70;
    color: #252e25;
} 

#home .container {
    display: flex; 
    justify-content:center; 
    align-items: center; 
    height: 100%; 
}

.photo-container {
    margin-right: 100px; 
}

.photo-container img {
    max-width: 100%; 
    height: 1500px; 
    border-radius: 30px; 
}

.text-container {
    padding-top: 50px;
    max-width: 50%; 
    text-align: left;
    justify-content: center;
    align-items: center;
}


#work {
    background-color: #464746; 
    transform: rotateY(90deg) translateZ(45vw); 
}

#work .container {
    display:flex;
    flex-wrap: nowrap; 
    width: 100%;
    border-radius: 10px;
    color: #fff;
    max-height: 100%; 
    align-items:center;
    justify-content: space-between;
}

#work .work-left {
    flex: 1;
    max-width: 33%; 
    overflow-y: hidden; 
    padding-left: 100px; 
    padding-right: 40px;
    height: 100%;
    box-sizing:border-box; 
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}


#work .work-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    box-sizing: border-box; 
}



.image-grid {
    display:flex;
    width: 100%;
    justify-content: end;
}

.image-grid img {
    width: 94%;
    height: 100%;
    border-radius: 2px; 
}

@media (max-width: 1024px) {
    #work .container {
        flex-direction: column; 
    }

    #work .work-left, 
    #work .work-right {
        max-width: 100%; 
        height: auto; 
    }
}

@media (max-width: 768px) {
    #work .work-left, 
    #work .work-right {
        padding: 10px; 
    }

    #work .resume-button {
        font-size: 1em; 
        padding: 8px 16px; 
    }
}

@media (max-width: 480px) {
    #work .work-left, 
    #work .work-right {
        padding: 5px; 
    }

    #work .resume-button {
        font-size: 0.9em; 
        padding: 6px 12px; 
    }
}


#work h2 {
    font-size: 4em;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 450;
}

#work h3 {
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: normal;
}

#work p {
    font-size: 1.4em;
    margin-top: 5px;
    font-weight:normal;
}

#work ul {
    list-style-type:circle;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 1.3em;
    font-weight: lighter;
}

.resume-button {
    display: inline-block;
    padding: 40px 60px;
    margin-top: 50px;
    background-color: #7e9980;
    color: #fff; 
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.resume-button:hover {
    background-color: #3d4a3d; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#work .work-left p,
#work .work-left ul li {
    opacity: 0; 
    animation: fadeInUp 2s ease forwards; 
}

#work .work-left p:nth-child(3) { 
    animation-delay: 0.3s;
}

#work .work-left p:nth-child(4) {
    animation-delay: 0.6s;
}

#work .work-left ul li:nth-child(1) {
    animation-delay: 0.9s;
}

#work .work-left ul li:nth-child(2) {
    animation-delay: 1.2s;
}

#work .work-left ul li:nth-child(3) {
    animation-delay: 1.5s;
}

#work .work-left ul li:nth-child(4) {
    animation-delay: 1.8s;
}

#work .work-left ul li:nth-child(5) {
    animation-delay: 2.1s;
}

#work .work-left ul li:nth-child(6) {
    animation-delay: 2.4s;
}

#work .work-left ul li:nth-child(7) {
    animation-delay: 2.7s;
}

#work .work-left ul li:nth-child(8) {
    animation-delay: 3.0s;
}

#work .work-left ul li:nth-child(9) {
    animation-delay: 3.3s;
}

#work .work-left a:nth-child(1) {
    animation-delay: 3.6s;
}

#film {
    background-color: #5c635c; 
    transform: rotateY(180deg) translateZ(45vw); 
}

#film .header {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    color: #9ba098;
    background-color: #3b3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticker {
    display: flex;
    animation: ticker 380s linear infinite; 
    width: max-content;
}

.ticker img {
    height: 650px;
    flex-shrink: 0; 
    margin-right: 30px; 
    border-radius: 20px;

}

@keyframes ticker {
    0% { transform: translateX(0%); }
    100% { transform: translateX(calc(-50%)); }
}

#film .film-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.body-container {
    display: flex;
    flex-grow: 1;
}

.film-left {
    flex: 2;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    background: #769979;
    padding: 20px; 
}

.film-left img {
    max-width: 30%;
    height: auto;
    cursor: pointer;
    filter: brightness(70%);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.film-left img:hover {
    filter: brightness(100%); 
}


.film-right {
    flex: 1;
    flex-direction: column;
    padding: 1.8%;
    display: flex;
    justify-content: flex-start;
    text-align:left; 
}

.film-right p {
    color: #fff; 
}
.description{
    font-size: 155%;
    font-weight: 400;
    text-align: left;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
    height: auto;
    font-weight: 200;
}

.hidden {
    margin-right: 3%;
    opacity: 0;
    text-align: left;
    position: absolute;
    visibility: hidden;
}

.exclamation{
    font-size: 350%;
    font-weight: 400;
    text-align: start;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#contact {
    background-color: #cdcecd; 
    transform: rotateY(270deg) translateZ(45vw); 
}


.contact-container {
    width: 100%;
    text-align: center;
    padding: 50px 20px;
    font-size: 140%;
}

#contact h2{
    color: #3b3a3a;

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.contact-info a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #413e3e; 
    transition: transform 0.3s ease; 
}

.contact-info a:hover {
    transform: scale(1.05); 
}

.icon {
    width: 45px;
    height: 45px;
    margin-right: 20px; 
    padding: 2px;
    border-radius: 4px;
}

